force-app/main/default/flows/After_Save_Quote_Create_Order_Safe.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Record-triggered flow on Quote (after save, update). When Quote Status becomes Approved or Accepted and Ordered__c = false, creates one Order linked via Order.QuoteId and calls the OrderItem sync subflow. Sets Ordered__c = true on the Quote after Order creation to prevent duplicate Orders.</description>
    <environments>Default</environments>
    <interviewLabel>After_Save_Quote_Create_Order_Safe {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After_Save_Quote_Create_Order_Safe</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <!-- ═══════════════════════════════════════════════════════════════
         FORMULA VARIABLES
         ═══════════════════════════════════════════════════════════════ -->
    <formulas>
        <description>Effective date for the Order: uses Quote StartDate if populated, otherwise falls back to today.</description>
        <name>frmEffectiveDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!$Record.StartDate}), TODAY(), {!$Record.StartDate})</expression>
    </formulas>
    <!-- ═══════════════════════════════════════════════════════════════
         RECORD LOOKUPS
         ═══════════════════════════════════════════════════════════════ -->
    <recordLookups>
        <description>Check whether an Order already exists for this Quote to prevent duplicates.</description>
        <name>Get_Order_s_for_this_Quote</name>
        <label>Get Order(s) for this Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_Order_Already_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <!-- ═══════════════════════════════════════════════════════════════
         DECISIONS
         ═══════════════════════════════════════════════════════════════ -->
    <decisions>
        <description>If an Order already exists for this Quote, stop processing to prevent duplicate Order creation.</description>
        <name>Did_Order_Already_Exist</name>
        <label>Did Order Already Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No — Create Order</defaultConnectorLabel>
        <rules>
            <name>Yes_Order_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_s_for_this_Quote.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes — Stop</label>
        </rules>
    </decisions>
    <!-- ═══════════════════════════════════════════════════════════════
         RECORD CREATES
         ═══════════════════════════════════════════════════════════════ -->
    <recordCreates>
        <description>Create a new Order linked to this Quote. QuoteId links Order to Quote for sync. Status is Draft; BillingAddress is copied from Quote.</description>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Call_Sync_OrderItems</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>frmEffectiveDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <!-- ═══════════════════════════════════════════════════════════════
         SUBFLOWS
         ═══════════════════════════════════════════════════════════════ -->
    <subflows>
        <description>Call the OrderItem sync subflow. Passes both quoteId and the newly created orderId. The subflow loops over QuoteLineItems, skips Partner Subscription lines, creates OrderItems for all other lines, and sets Contains_Partner_Subscriptions__c / Do_Not_Sync__c on the Order and Quote when partner subscriptions are present.</description>
        <name>Call_Sync_OrderItems</name>
        <label>Call Sync OrderItems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Quote_Ordered</targetReference>
        </connector>
        <flowName>SUB_Sync_OrderItems_From_QuoteLines_Techvera</flowName>
        <inputAssignments>
            <name>quoteId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>orderId</name>
            <value>
                <elementReference>Create_Order</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <!-- ═══════════════════════════════════════════════════════════════
         RECORD UPDATES
         ═══════════════════════════════════════════════════════════════ -->
    <recordUpdates>
        <description>Mark the Quote as Ordered so this flow does not fire again for the same Quote.</description>
        <name>Update_Quote_Ordered</name>
        <label>Update Quote Ordered</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ordered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <!-- ═══════════════════════════════════════════════════════════════
         START
         ═══════════════════════════════════════════════════════════════ -->
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_s_for_this_Quote</targetReference>
        </connector>
        <filterLogic>((1 OR 2) AND 3)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ordered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerOrder>3</triggerOrder>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
