force-app/main/default/flows/After_Save_Quote_Line_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Record-triggered flow on Quote Line Item (After Save, Create and Update). Calls Add_QuoteLineItem_to_Quote_Techvera_Lifecycle to process the QLI revenue lifecycle, then calls Update_Quote_Details_Techvera_Revenue_Rollups to roll up revenue totals to the parent Quote. No isSuccess dependency — subflow faults propagate to the platform fault handler.</description>
    <environments>Default</environments>
    <interviewLabel>After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Save - Quote Line Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <!-- ═══════════════════════════════════════════════════════════════
         SUBFLOWS — called in sequence
         1. Add_QuoteLineItem_to_Quote_Techvera_Lifecycle
            → processes the QLI through the CPQ lifecycle (revenue calcs, billing schedule, etc.)
         2. Update_Quote_Details_Techvera_Revenue_Rollups
            → rolls up all QLI revenue values to the parent Quote
         ═══════════════════════════════════════════════════════════════ -->
    <subflows>
        <description>Call the Add QuoteLineItem lifecycle autolaunched flow to process the QuoteLineItem through the revenue lifecycle. Passes key QLI fields; the flow handles null productSellingModelID gracefully.</description>
        <name>Call_Add_QuoteLineItem_to_Quote_Lifecycle_Flow</name>
        <label>Call Add QuoteLineItem to Quote Lifecycle Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Call_Update_Quote_Details_Techvera_Revenue_Rollups_Flow</targetReference>
        </connector>
        <flowName>Add_QuoteLineItem_to_Quote_Techvera_Lifecycle</flowName>
        <inputAssignments>
            <name>quoteId</name>
            <value>
                <elementReference>$Record.QuoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>productId</name>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quantity</name>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Call the revenue rollup autolaunched flow to recalculate Quote-level revenue totals (ARR, MRR, One-Time, etc.) after this QuoteLineItem was saved.</description>
        <name>Call_Update_Quote_Details_Techvera_Revenue_Rollups_Flow</name>
        <label>Call Update Quote Details Techvera Revenue Rollups Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Update_Quote_Details_Techvera_Revenue_Rollups</flowName>
        <inputAssignments>
            <name>quoteId</name>
            <value>
                <elementReference>$Record.QuoteId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Call_Add_QuoteLineItem_to_Quote_Lifecycle_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the error message that occurs when InvokePlaceSalesTransaction fails and is available as output from the flow.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores a boolean value that indicates whether InvokePlaceSalesTransaction succeeded.</description>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
