force-app/main/default/flows/After_Save_Quote_Create_Order_Safe.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>If an Order already exists for this Quote, stop to avoid creating a duplicate.</description>
        <name>Order_Already_Exists</name>
        <label>Order Already Exists?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Create Order</defaultConnectorLabel>
        <rules>
            <name>Yes_Order_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_for_Quote.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes - Skip</label>
        </rules>
    </decisions>
    <description>Record-triggered after-save flow on Quote update. When Status becomes Approved or Accepted and Ordered__c is false, creates a new Order (linked via Order.QuoteId) and OrderItems from QuoteLineItems, then sets Quote.Ordered__c = true to prevent re-creation.</description>
    <environments>Default</environments>
    <interviewLabel>After_Save_Quote_Create_Order_Safe {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After_Save_Quote_Create_Order_Safe</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a new Order linked to the approved/accepted Quote.</description>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SUB_Sync_OrderItems</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Looks for an existing Order linked to this Quote to prevent duplicate creation.</description>
        <name>Get_Order_for_Quote</name>
        <label>Get Order for Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Already_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Marks the Quote as Ordered to prevent re-creation of Order on future updates.</description>
        <name>Update_Quote_Ordered</name>
        <label>Update Quote Ordered__c = true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ordered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_for_Quote</targetReference>
        </connector>
        <filterLogic>((1 OR 2) AND 3)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ordered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Calls the subflow to create OrderItems from QuoteLineItems for the newly created Order.</description>
        <name>SUB_Sync_OrderItems</name>
        <label>SUB Sync OrderItems From QuoteLines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Quote_Ordered</targetReference>
        </connector>
        <flowName>SUB_Sync_OrderItems_From_QuoteLines_Techvera</flowName>
        <inputAssignments>
            <name>orderId</name>
            <value>
                <elementReference>Create_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quoteId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
