force-app/main/default/flows/RTF_Quote_Start_Techvera_Lifecycle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Has_the_Automation_been_Disabled</name>
        <label>Has the Automation been Disabled?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Call_Update_Quote_Details_Revenue_Rollups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else — Run Rollups</defaultConnectorLabel>
        <rules>
            <name>End</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Automation_Toggles_mdt.Disable_RLM_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Automation_Toggles_mdt.Disable_Quote_Automation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>End</label>
        </rules>
    </decisions>
    <description>Record-triggered flow on Quote (after save, create and update). Fires when Quote Status changes to Accepted or Approved. Checks the automation toggle, then calls Update_Quote_Details_Techvera_Revenue_Rollups to ensure all revenue rollup totals on the Quote are current before the Order is created by After_Save_Quote_Create_Order_Safe.</description>
    <environments>Default</environments>
    <interviewLabel>RTF_Quote_Start_Techvera_Lifecycle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF Quote Start Techvera Lifecycle</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Shows if the automations been toggled off.</description>
        <name>Automation_Toggles_mdt</name>
        <label>Automation Toggle Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_the_Automation_been_Disabled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Automation_Toggles__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <subflows>
        <description>Ensure Quote revenue totals (ARR, MRR, One-Time, Contains_Partner_Subscriptions__c, etc.) are up-to-date on the Quote at the moment of approval/acceptance. This runs before After_Save_Quote_Create_Order_Safe creates the Order so the Order can be created with accurate Quote data.</description>
        <name>Call_Update_Quote_Details_Revenue_Rollups</name>
        <label>Call Update Quote Details Revenue Rollups</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Update_Quote_Details_Techvera_Revenue_Rollups</flowName>
        <inputAssignments>
            <name>quoteId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Automation_Toggles_mdt</targetReference>
        </connector>
        <filterLogic>(1 AND (2 OR 3))</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerOrder>1</triggerOrder>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
