force-app/main/default/flows/SUB_Sync_OrderItems_From_QuoteLines_Techvera.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Subflow that pulls Quote Lines and makes them Order Products on the Order. This flow ensures Partner Subscription lines are removed from the Order Products to avoid syncing with NetSuite and double billing. Sets Contains_Partner_Subscriptions__c and Do_Not_Sync__c on the Order (and Quote) when partner subscription lines are present.</description>
    <environments>Default</environments>
    <interviewLabel>SUB Sync OrderItems From QuoteLines Techvera {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SUB Sync OrderItems From QuoteLines Techvera</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <!-- ═══════════════════════════════════════════════════════════════
         VARIABLES — INPUT / OUTPUT
         ═══════════════════════════════════════════════════════════════ -->
    <variables>
        <description>ID of the Quote whose line items will be synced to the Order.</description>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of the Order that was just created. OrderItems will be created under this Order.</description>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Indicates whether any QuoteLineItem on this Quote has Partner_Subscription__c = true. Output so the caller can take further action if needed.</description>
        <name>hasPartnerSubscriptions</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <!-- ═══════════════════════════════════════════════════════════════
         VARIABLES — INTERNAL sObject / Collection
         ═══════════════════════════════════════════════════════════════ -->
    <variables>
        <description>Staging variable used to build a single OrderItem record during the loop before adding it to the collection.</description>
        <name>varNewOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <description>Collection of OrderItem records to bulk-create after the loop finishes.</description>
        <name>varNewOrderItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <!-- ═══════════════════════════════════════════════════════════════
         RECORD LOOKUPS
         ═══════════════════════════════════════════════════════════════ -->
    <recordLookups>
        <description>Get the Quote record so we have access to Quote-level fields (e.g., Pricebook2Id) if needed.</description>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_QuoteLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve all active QuoteLineItems for this Quote so they can be converted to OrderItems.</description>
        <name>Get_QuoteLineItems</name>
        <label>Get QuoteLineItems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <!-- ═══════════════════════════════════════════════════════════════
         DECISIONS
         ═══════════════════════════════════════════════════════════════ -->
    <decisions>
        <description>Only proceed with the loop and OrderItem creation if there are Quote Line Items to process.</description>
        <name>Any_Quote_Lines</name>
        <label>Any Quote Lines?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Lines — End</defaultConnectorLabel>
        <rules>
            <name>Yes_Lines_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QuoteLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_QuoteLineItems</targetReference>
            </connector>
            <label>Yes — Process Lines</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip OrderItem creation for Partner Subscription lines; set the partner subscription flag instead.</description>
        <name>Is_Partner_Subscription</name>
        <label>Is Partner Subscription?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Build_OrderItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No — Create OrderItem</defaultConnectorLabel>
        <rules>
            <name>Yes_Partner_Sub</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_QuoteLineItems.Partner_Subscription__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Partner_Flag</targetReference>
            </connector>
            <label>Yes — Skip</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only call recordCreate if there are non-partner-subscription OrderItems to create (avoids DML on empty collection).</description>
        <name>Has_OrderItems_To_Create</name>
        <label>Has OrderItems to Create?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Items — Check Partner Subs</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Update_Partner_Sub_Fields</targetReference>
        </defaultConnector>
        <rules>
            <name>Yes_Has_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewOrderItemCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_OrderItems</targetReference>
            </connector>
            <label>Yes — Create OrderItems</label>
        </rules>
    </decisions>
    <decisions>
        <description>If any Partner Subscription lines were present, update Order and Quote flags accordingly.</description>
        <name>Update_Partner_Sub_Fields</name>
        <label>Has Partner Subscriptions?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No — End</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Partner_Subs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasPartnerSubscriptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Partner_Subs</targetReference>
            </connector>
            <label>Yes — Update Order and Quote</label>
        </rules>
    </decisions>
    <!-- ═══════════════════════════════════════════════════════════════
         RECORD CREATES — Partner Subscription
         ═══════════════════════════════════════════════════════════════ -->
    <recordCreates>
        <description>Create a Partner_Subscription__c record for this Quote Line Item so it appears in the Partner Subscriptions related list with Do_Not_Sync__c = true. This prevents the Pax8 billing integration from double-billing the partner subscription product. OrderItem is NOT created for this line.</description>
        <name>Create_Partner_Subscription_Rec</name>
        <label>Create Partner Subscription Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_QuoteLineItems</targetReference>
        </connector>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Line_Item__c</field>
            <value>
                <elementReference>Loop_QuoteLineItems.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Not_Sync__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Partner_Subscription__c</object>
    </recordCreates>
    <!-- ═══════════════════════════════════════════════════════════════
         ASSIGNMENTS
         ═══════════════════════════════════════════════════════════════ -->
    <assignments>
        <description>Mark that at least one Partner Subscription line was found so the Order and Quote flags can be set after the loop.</description>
        <name>Set_Partner_Flag</name>
        <label>Set Partner Subscription Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>hasPartnerSubscriptions</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Partner_Subscription_Rec</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Map QuoteLineItem fields to the new OrderItem staging variable. Standard field mapping: OrderId, PricebookEntryId, Quantity, UnitPrice, ServiceDate, Description.</description>
        <name>Build_OrderItem</name>
        <label>Build OrderItem from QLI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNewOrderItem.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOrderItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QuoteLineItems.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOrderItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QuoteLineItems.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QuoteLineItems.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOrderItem.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QuoteLineItems.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewOrderItem.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QuoteLineItems.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_OrderItem_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the staged OrderItem to the bulk-create collection and return to the loop for the next item.</description>
        <name>Add_To_OrderItem_Collection</name>
        <label>Add OrderItem to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNewOrderItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNewOrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QuoteLineItems</targetReference>
        </connector>
    </assignments>
    <!-- ═══════════════════════════════════════════════════════════════
         LOOPS
         ═══════════════════════════════════════════════════════════════ -->
    <loops>
        <description>Iterate over every QuoteLineItem. Partner Subscription lines are skipped (flag set); all other lines are staged as OrderItems for bulk creation.</description>
        <name>Loop_QuoteLineItems</name>
        <label>Loop QuoteLineItems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_QuoteLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Partner_Subscription</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_OrderItems_To_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <!-- ═══════════════════════════════════════════════════════════════
         RECORD CREATES
         ═══════════════════════════════════════════════════════════════ -->
    <recordCreates>
        <description>Bulk-create all non-partner-subscription OrderItems in a single DML operation.</description>
        <name>Create_OrderItems</name>
        <label>Create OrderItems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Partner_Sub_Fields</targetReference>
        </connector>
        <inputReference>varNewOrderItemCollection</inputReference>
    </recordCreates>
    <!-- ═══════════════════════════════════════════════════════════════
         RECORD UPDATES
         ═══════════════════════════════════════════════════════════════ -->
    <recordUpdates>
        <description>Set Contains_Partner_Subscriptions__c = true and Do_Not_Sync__c = true on the Order when the Quote contains partner subscription lines. This prevents the Order from syncing to NetSuite for partner subscription products.</description>
        <name>Update_Order_Partner_Subs</name>
        <label>Update Order — Partner Sub Flags</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Quote_Partner_Subs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contains_Partner_Subscriptions__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Not_Sync__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set Contains_Partner_Subscriptions__c = true on the Quote when partner subscription lines are present (mirrors the rollup that Update_Quote_Details_Techvera_Revenue_Rollups would perform).</description>
        <name>Update_Quote_Partner_Subs</name>
        <label>Update Quote — Contains Partner Subscriptions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contains_Partner_Subscriptions__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <!-- ═══════════════════════════════════════════════════════════════
         START
         ═══════════════════════════════════════════════════════════════ -->
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
